################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlugAndTrade
/.vs
/PlugAndTrade/bin/Debug/net8.0
/PlugAndTrade/TestProductData/Pricings
/PlugAndTrade/obj/Debug/net8.0/ref
/PlugAndTrade/obj/Debug/net8.0/refint
/PlugAndTrade/obj/Release/net8.0
/PlugAndTrade/obj/Debug/net8.0/apphost.exe
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.AssemblyInfo.cs
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.AssemblyInfoInputs.cache
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.assets.cache
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.csproj.BuildWithSkipAnalyzers
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.csproj.CoreCompileInputs.cache
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.csproj.FileListAbsolute.txt
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.dll
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.GeneratedMSBuildEditorConfig.editorconfig
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.genruntimeconfig.cache
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.pdb
/PlugAndTrade/obj/Debug/net8.0/PlugAndTrade.sourcelink.json
/PlugAndTrade/obj/PlugAndTrade.csproj.nuget.dgspec.json
/PlugAndTrade/.gitignore
/PlugAndTrade/obj/PlugAndTrade.csproj.nuget.g.props
/PlugAndTrade/obj/project.assets.json
/PlugAndTrade/obj/project.nuget.cache
